h1 {
  color: black;
  font-family: GoogleFont;
}

@font-face {
  font-family: GoogleFont;
  src: url(fonts/OpenSans-Light.ttf);
}

li {
	font-family: GoogleFont;
}

img {
  border-radius: 50%;
}

hr {
	color: #f5f2f2;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
	font-family: GoogleFont;
}
